{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% page_attribute 'meta_description' %}">
  {% block meta %}{% endblock meta %}
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <title>{% page_attribute "page_title" %} 月灵衫</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/font-awesome/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/animate/animate.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/nivo-slider/nivo-slider.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/nivo-lightbox/nivo-lightbox.css' %}" type="text/css">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/nivo-lightbox/themes/default/default.css' %}" type="text/css">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="{% static 'js/bootstrap/ie8-responsive-file-warning.js' %}"></script><![endif]-->
  <script src="{% static 'js/bootstrap/ie-emulation-modes-warning.js' %}"></script>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{% static 'js/bootstrap/ie8-responsive-file-warning.js' %}"></script>

  {% render_block "css" %}

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="{% static 'js/bootstrap/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/respond.min.js' %}"></script>
  <![endif]-->
  </head>

  <body style="margin-top: 90px;">
    {% cms_toolbar %}
    <!-- Fixed navbar -->
    
    <nav class="navbar main-menu navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" title="logo"><i class="icon_genius"></i> 月灵衫</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" id="menu">
            {% show_menu 0 100 100 100 %}
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
    {% block body %}{% endblock %}
    <footer>
      <div class="container">
        <a class="footer-brand pull-left" data-scroll data-options="easing: easeOutQuart" href="/" title="logo">
          <i class="icon_genius"></i> 月灵衫
        </a>
        <span class="design-by pull-right">&copy; 2014 月灵衫. 版权所有<a href="mailto:amaozhao@gmail.com">AmaoZhao</a>.</span>
      </div>
    </footer>
    <a href="#" class="back-to-top wow bounceIn" data-wow-duration="1.0s" data-wow-delay="1.0s"><i class="fa fa-angle-up"></i></a>
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/holder/holder.min.js' %}"></script>
    <script src="{% static 'js/smooth-scroll.js' %}"></script>
    <script src="{% static 'js/wow/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.hcaptions.js' %}"></script>
    <script src="{% static 'js/nivo-lightbox/nivo-lightbox.min.js' %}"></script>
    <script src="{% static 'js/bootstrapvalidator/bootstrapValidator.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% render_block "js" %}
  </body>
</html>
