{% load sekizai_tags thumbnail %}

<div class="container">
  <div id="carousel-slider" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {% for item in instance.carouselitem_set.all %}
        <div class="item {% if forloop.first %}active{% endif %}">
          <img style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.8s; animation-name: fadeInRight;" src="{{item.image.url}}" alt="{{ item.caption_title }}" class="wow fadeInRight pull-right animated" data-wow-duration="0.8s" data-wow-delay="0.8s">
          <div class="carousel-caption">
            {% if instance.show_title %}
              <h3 style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: fadeInUp;" class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="1s">{{ item.caption_title }}</h3>
            {% endif %}
            {% if instance.show_caption %}
              <p style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: fadeInUp;" class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="1s">{{ item.caption_content }}</p>
            {% endif %}
            {% if item.url %}
              <a style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: bounceIn;" href="{{ item.url }}" class="btn main-btn btn-lg wow bounceIn animated" data-wow-duration="1s" data-wow-delay="1s">查看详情</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
